<!-- https://raw.githubusercontent.com/yhnavein/express-starter/master/views/account/profile.ejs -->

<div class="custom-container" ng-controller="UserProfileCtrl" ng-cloak>
  <div class="row">
    <div class="col-sm-6">
      <div class="page-header">
        <h3>Profile Information</h3>
      </div>

      <form action="/account/profile" method="POST" class="form-horizontal" name="profileForm">
        <div class="form-group">
          <label for="email" class="col-sm-4 control-label">Email</label>
          <div class="col-sm-6">
            <input type="email" name="email" id="email" value="<%= user.email %>" class="form-control" required/>
          </div>
        </div>
        <div class="form-group">
          <label for="name" class="col-sm-4 control-label">Name</label>
          <div class="col-sm-6">
            <input type="text" name="name" id="name" value="<%= user.profile.name || '' %>" class="form-control" required/>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-4 col-sm-6">
            <button type="submit" class="btn btn btn-primary" ng-disabled="profileForm.$invalid">
              <i class="fa fa-pencil"></i>Update Profile
            </button>
          </div>
        </div>
      </form>
    </div>

  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="page-header">
        <h3>Change Password</h3>
      </div>

      <form action="/account/password" method="POST" class="form-horizontal" novalidate name="pswForm">
        <div class="form-group">
          <label for="password" class="col-sm-4 control-label">New Password</label>
          <div class="col-sm-6">
            <input type="password" name="password" id="password" class="form-control" ng-model="pswChange.psw" required ng-minlength="4"
            />
            <div password-strength value="pswChange.psw"></div>
          </div>
        </div>
        <div class="form-group">
          <label for="confirmPassword" class="col-sm-4 control-label">Confirm Password</label>
          <div class="col-sm-6">
            <input type="password" name="confirmPassword" id="confirmPassword" class="form-control" ng-model="pswChange.psw1" required/>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-4 col-sm-6">
            <button type="submit" class="btn btn btn-primary" ng-disabled="pswForm.$invalid || pswChange.psw != pswChange.psw1">
              <i class="fa fa-lock"></i>Change Password
            </button>
          </div>
        </div>
        <div class="alert-container" ng-show="pswChange.psw != pswChange.psw1 && pswChange.psw1">
          <hr>
          <div class="alert alert-danger">Passwords do not match!</div>
        </div>
      </form>

    </div>
    <div class="col-sm-6">
      <div class="page-header">
        <h3>Delete Account</h3>
      </div>
      <p>You can delete your account, but keep in mind this action is irreversible.</p>
      <button class="btn btn-danger" ng-click="deactivateAccount()">
        <i class="fa fa-trash"></i> Delete my account
      </button>
    </div>
  </div>
</div>
