
<!-- https://raw.githubusercontent.com/yhnavein/express-starter/master/views/account/signup.ejs -->

<div class="custom-container" ng-controller="UserSignUpCtrl">
  <div class="page-header">
    <h3>Sign up</h3>
  </div>
  <blockquote>
    Let's create your new account! Please note the new password must be at least 4 characters.
  </blockquote>
  <%if(messages.errors){%>
   <% for (var x=0;x<messages.errors.length;x++) {%>
      <div class="alert alert-danger">
        <%= messages.errors[x].msg %>
        </div>
      <%}%>
   <%}%>

  <form name="signupForm" method="POST" class="form-horizontal" action="/signup" novalidate>
    <div class="form-group">
      <label for="email" class="col-sm-3 control-label">Email</label>
      <div class="col-sm-7">
        <input type="email" name="email" id="email" placeholder="Email" autofocus class="form-control" ng-model="email" required/>
      </div>
    </div>
    <div class="form-group">
      <label for="password" class="col-sm-3 control-label">Password</label>
      <div class="col-sm-7">
        <input type="password" name="password" id="password" placeholder="Password" class="form-control" ng-model="psw" required ng-minlength="4"/>
        <div password-strength value="psw"></div>
      </div>
    </div>
    <div class="form-group">
      <label for="confirmPassword" class="col-sm-3 control-label">Confirm Password</label>
      <div class="col-sm-7">
        <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password" class="form-control" ng-model="psw1" required ng-minlength="4"/>
      </div>
    </div>
    <div class="form-group">
      <label for="id" class="col-sm-3 control-label">Id Number</label>
      <div class="col-sm-7">
        <input type="_id" name="_id" id="_id" placeholder="Id" class="form-control" ng-model="_id" required ng-minlength="1"/>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-7">
        <button type="submit" class="btn btn-success" ng-disabled="signupForm.$invalid || psw != psw1">
          <i class="fa fa-user-plus"></i> Signup
        </button>
      </div>
    </div>
  </form>
</div>