</br>
</br>
<hr>
</br>
<footer class="footer">
  <div class="container">
    <p>&copy; 2019</p>
    <p class="text-muted"><a href="https://bitbucket.org/Brianneb1/node-express-mvc-ejs-passport/src/master/">Repository</a></p>
  </div>
</footer>
