<div class="container">
  <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
          aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Welcome</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">

          <li>
            <a href="/puppy">Puppies</a>
          </li>
          <li>
            <a href="/contact">Contact Us</a>
          </li>
          <li>
            <a href="/users">Users</a>
          </li>
          <li>
            <a href="/transaction">Transactions</a>
          </li>
          <li>
            <a href="/category">Categories</a>
          </li>
          <% include about.ejs %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <%if(!user){%>
            <li>
              <a href="/login">Login</a>
            </li>
            <li>
              <a href="/signup">Register</a>
            </li>
            <%} else{%>
              <li class="dropdown">
                <a href="#!" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <%=user.profile.name%>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li class="dropdown-submenu">
                    <li>
                      <a href="/account">Profile</a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                      <a href="/logout">Logout</a>
                    </li>
                </ul>
                </li>
                <%}%>
        </ul>
      </div>
      <!--/.navbar-collapse -->
    </div>
  </nav>
</div>