<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <h1>Not Puppies!</h1>
      <br/>
      <h2>Use this area to display information. </h2>
      <br/>
      <hr>
      <h3>During development, test your api here.</h3>
      <br/>
      <br>
      <h1>Users - Brianne Bender</h1>
      <br>
      <h4>GET a view</h4>
      <ol>
        <li>
          <a href="http://localhost:8089/users">http://localhost:8089/users</a>
        </li>
        <li>
          <a href="http://localhost:8089/users/create">http://localhost:8089/users/create</a>
        </li>

        <li>
          <a href="http://localhost:8089/users/edit/1">http://localhost:8089/users/edit/1</a>
        </li>
        <li>
          <a href="http://localhost:8089/users/edit/2">http://localhost:8089/users/edit/2</a>
        </li>

        <li>
          <a href="http://localhost:8089/users/delete/1">http://localhost:8089/users/delete/1</a>
        </li>
        <li>
          <a href="http://localhost:8089/users/delete/2">http://localhost:8089/users/delete/2</a>
        </li>

        <li>
          <a href="http://localhost:8089/users/details/1">http://localhost:8089/users/details/1</a>
        </li>
        <li>
          <a href="http://localhost:8089/users/details/2">http://localhost:8089/users/details/2</a>
        </li>

      </ol>
      <br/>
      <h4>GET JSON</h4>
      <ol>

        <li>
          <a href="http://localhost:8089/users/findall">http://localhost:8089/users/findall</a>
        </li>
        <li>
          <a href="http://localhost:8089/users/findone/1">http://localhost:8089/users/findone/1</a>
        </li>
        <li>
          <a href="http://localhost:8089/users/findone/2">http://localhost:8089/users/findone/2</a>
        </li>

      </ol>

      <br/>
      <h4>Transactions</h4>
      <br/>
      <h4>GET a view</h4>
      <ol>
        <li>
          <a href="http://localhost:8089/transactions">http://localhost:8089/transactions</a>
        </li>
        <li>
          <a href="http://localhost:8089/transactions/create">http://localhost:8089/transactions/create</a>
        </li>

        <li>
          <a href="http://localhost:8089/transactions/edit/1">http://localhost:8089/transactions/edit/1</a>
        </li>
        <li>
          <a href="http://localhost:8089/transactions/edit/2">http://localhost:8089/transactions/edit/2</a>
        </li>

        <li>
          <a href="http://localhost:8089/transactions/delete/1">http://localhost:8089/transactions/delete/1</a>
        </li>
        <li>
          <a href="http://localhost:8089/transactions/delete/2">http://localhost:8089/transactions/delete/2</a>
        </li>

        <li>
          <a href="http://localhost:8089/transactions/details/1">http://localhost:8089/transactions/details/1</a>
        </li>
        <li>
          <a href="http://localhost:8089/transactions/details/2">http://localhost:8089/transactions/details/2</a>
        </li>

      </ol>

      <br/>
      <h4>GET JSON</h4>
      <ol>

        <li>
          <a href="http://localhost:8089/transactions/findall">http://localhost:8089/transactions/findall</a>
        </li>
        <li>
          <a href="http://localhost:8089/transactions/findone/1">http://localhost:8089/transactions/findone/1</a>
        </li>
        <li>
          <a href="http://localhost:8089/transactions/findone/2">http://localhost:8089/transactions/findone/2</a>
        </li>

      </ol>

      <h2>QUnit Tests</h2>
      <a href="qunit.ejs">Tests</a>
    </div>
  </div>
</div>