<!DOCTYPE html>
<!-- Sourced from example code at https://qunitjs.com/cookbook/ -->
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>QUnit Tests</title>
    <link rel="stylesheet" href="https://code.jquery.com/qunit/qunit-2.9.1.css">
</head>

<body>
    <div id="qunit"></div>
    <div id="qunit-fixture"></div>
    <script src="https://code.jquery.com/qunit/qunit-2.9.1.js"></script>
    <script src="../test/tests.js"></script> 
</body>

</html>