<!--Robert Becthold-->

<br/>
<br/>
<h2>Confirm deletion of transaction</h2>
<br/>
<br/> ID:
<%=  transaction._id %>
  <br> Number:
  <%=transaction.transactionnum%>
    <br/> Type:
    <%=transaction.transactiontype%>
      <br/> Amount:
      <%=transaction.transactionamount%>
        <br/> Date:
        <% transaction.transactiondate %>

            <form method="get" action="/transaction">
              <input type="submit" value="Return to list" class="btn btn-caution" />
            </form>

            <br/>
            <form method="POST" action="/transaction/delete/<%= transaction._id %>">
              <input type="submit" value="Delete this item" class="btn btn-danger pull-right" />
            </form>