<!--Michael Baumli-->

<br/>
<br/>
<h2>Category Details</h2>
<br/>
<br/> ID:
<%=  category._id %>
  <br> Number:
  <%=category.categorynam%>
    <br/> Type:


            <br/>
            <form method="get" action="/transaction">
              <input type="submit" value="Return to list" class="btn btn-caution" />
            </form>