<!--based on puppy views-->

<div class="container-fluid">
    <div class=row>
      <div class="col col-md-12">
        
        <br/>
        <h2>Create a new user </h2>
        <br/>
        <% maxID=0; for (var i=0; i < users.query.length; i++) {
        if(users.query[i]._id > maxID) { maxID=users.query[i]._id;   }
        var age = users.query[i].age;}%>
          <div class="content">
            <div>
              <form name="user" method="POST" action="/user/save">
  
                <div class="form-group" id=frm>
                  <label for="_id">ID</label>
                  <input type="number" class="form-control" id="_id" name="_id" value="<%= maxID+1 %>" required readonly>
                </div>
  
                <!-- COMMON TO EDIT AND CREATE -->
                <%include partial_edits.ejs%>
  
                  <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                  </div>
              </form>
  
              <br/>
  
              <form method="get" action="/user">
                <input type="submit" value="Return to list" class="btn btn-caution" />
              </form>
  
            </div>
          </div>
      </div>
    </div>
  </div>