<!-- based on puppy views-->
<br/>
<br/>
<h2>User details</h2>
<br/>
<br/> ID:
<%=  user._id %>
  <br> Name:
  <%=user.name%>
      <br/> Age (years):
      <%=user.age%>
        
            <br/>
            <br/>
            <form method="get" action="/user">
              <input type="submit" value="Return to list" class="btn btn-caution" />
            </form>