<!--Brianne-->
<!-- based off of puppy/index.ejs -->

<br/>
<br/>
<div class="container-fluid"> <div class=row>   <div class="col col-md-12">
      <a href="user/create" class="btn btn-primary new">     Create a new user  </a>
      <h2>Recent user entries</h2>
      <p>There are   <%= users.query.length %> users.     <br/>
      </p>
      <% for (var i = users.query.length-1; i >= 0; i--) {   user = users.query[i];   %>
        <div class="panel panel-default"> <div class="panel-heading"></div><div class="text-muted pull-right"></div><div class="panel-body">
            ID:      <%=  user._id %>
              <br> Name:              <%=user.name%>
                  <br/> Age (years):  <%=user.age%>
                          <br/> <br/>
                          <a href="/user/delete/<%= user._id  %>" class="btn btn-danger"> Delete </a>
                          <a href="/user/details/<%= user._id %>" class="btn btn-info"> Details </a>
                          <a href="/user/edit/<%= user._id %>" class="btn btn-warning"> Edit </a>
          </div> </div>
        <% } %>
    </div>
  </div>
</div>