<!-- main  -->
<div class=row>
    <div class="col col-xs-12">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" value="<%= users.name %>" required>
      </div>
      <div class="form-group">
        <label for="age">Age</label>
        <input onchange="onAgeChange()" type="number" class="form-control" id="age" name="age" value="<%= users.age %>" required>
      </div>
    </div>
  </div>
 
  <hr>
  <br/>
  <br/>
