<!--Robert Becthold-->

<br/>
<br/>
<h2>Transaction details</h2>
<br/>
<br/> ID:
<%=  transaction._id %>
  <br> Number:
  <%=transaction.transactionnum%>
    <br/> Type:
    <%=transaction.transactiontype%>
      <br/> Amount:
      <%=transaction.transactionamount%>
        <br/> Date:
        <%transaction.transactiondate%>

            <br/>
            <form method="get" action="/transaction">
              <input type="submit" value="Return to list" class="btn btn-caution" />
            </form>