<!--Robert Becthold-->

<div class=row>
    <div class="col col-xs-12">
      <div class="form-group">
        <label for="transactionnum">Number</label>
        <input type="number" class="form-control" id="transactionnum" name="transactionnum" value="<%= transaction.transactionnum %>" required>
      </div>
      <div class="form-group">
        <label for="transactiontype">Type</label>
        <input type="text" class="form-control" id="transactiontype" name="transactiontype" value="<%= transaction.transactiontype %>" required>
      </div>
      <div class="form-group">
        <label for="transactionamount">Amount</label>
        <input type="number" class="form-control" id="transactionamount" name="transactionamount" value="<%= transaction.transactionamount %>" required>
      </div>
      <div class="form-group">
        <label for="transactiondate">Date</label>
        <input type="date" class="form-control" id="transactiondate" name="transactiondate" value="<%= transaction.transactiondate %>" required>
      </div>
    </div>
  </div>